/*
    File: style.css
    Notes: 
    Purpace: N/A
    By: Webmaster
    At: 12:00 PM, 2/20/2022
*/

.discord_widget {
  position: fixed;
  padding: 10px;
  right: 0px;
  bottom: 0px;
}

.footer {
  bottom: 0px;
}

body {
  background: #444444;
  background-image: url("./img/body.bmp");
}

.rc {
  border-radius: 15px;
  padding: 5px;
  width: 95%;
  height: 95%;
  margin: auto;
  border: 2px solid #000000;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#backtotopbtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #666666; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border: 2px solid #000000;
}

#backtotopbtn:hover {
  background-color: #444444; /* Add a dark-grey background on hover */
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

/*
nav {
  border-bottom: 1px solid black;
}
*/

.nav_file_main ol {
  list-style-type: none;
  padding-left: 0;
  font-size: 12pt;
}

.nav_file_dir {
  display: inline-block;
}

.nav_file_dir a::after {
  display: inline-block;
  color: #000;
  content: "/";
  font-weight: bold;
  font-size: 12pt;
  padding: 0 3px;
}
